extends layout

block content
  script(src="scripts/lib/three.min.js")
  script(src="scripts/lib/stats.min.js")
  script(src="scripts/lib/dat.gui.min.js")
  script(src="scripts/lib/detector.min.js")
  script(src="scripts/webgl.js")